<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show UNIT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/units'>Container Dashboard</a></li>
      </ul>
    </nav>
    <h1>Container #<%=unit.contNum%></h1>
    <h3>Current Customer: <%=unit.customerFirst%> <%=unit.customerLast%></h3>
    <h3>Current Location:<br/>
      <%=unit.address%><br/>
      <%=unit.city%>, <%=unit.state%> <%=unit.zip%></h3>
    <h3><%=unit.task%></h3>
    <h3>Brand: <%=unit.brand%></h3>
    <ul>
      <li><a href='/units/<%=unit._id%>/edit'>Edit This Container</a></li>
      <li>
        <form action='/units/<%=unit._id%>?_method=DELETE' method='POST'>
          <input type='submit' value='Remove This Container'/>
        </form>
      </li>
    </ul>

  </body>
</html>
