<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Transaction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/transactions'>Transaction Dashboard</a></li>
      </ul>
    </nav>
    <h1>Transaction</h1>
    <h3>Customer: <%=transaction.customer[0].firstName%> <%=transaction.customer[0].lastName%> </h3>
    <h3>Total: <%=transaction.total%></h3>
    <ul>
      <li><a href='/transactions/<%=transaction._id%>/edit'>Edit This Transaction</a></li>
      <li>
        <form action='/transactions/<%=transaction._id%>?_method=DELETE' method='POST'>
          <input type='submit' value='Remove This Transaction'/>
        </form>
      </li>
    </ul>

  </body>
</html>
