<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Customers DashBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <nav>
      <ul class="nav nav-pills">
        <li role="presentation"><a href='/'>Dashboard</a></li>
        <li role="presentation" class="active"><a href='/customers'>Customers</a></li>
        <li role="presentation"><a href='/units'>UNITS</a></li>
        <li role="presentation"><a href='/deliveries'>Deliveries</a></li>
        <li role="presentation"><a href='/transactions'>Transactions</a></li>
      </ul>
    </nav>
    <h1>Customers DashBoard</h1>
    <section>
      <ul>
        <li><a href='/customers/new/'>Add Customer</a></li>
      </ul>
    </section>
    <h2>All Customers</h2>
    <ul>
      <% for(var i = 0; i < allCustomers.length; i++){%>
        <li>
          <h4><a href='/customers/<%=allCustomers[i]._id%>'><%=allCustomers[i].firstName%> <%=allCustomers[i].lastName%></a></h4>
          <ul>
            <li>Type: <%=allCustomers[i].type%></li>
            <li>Task: <%=allCustomers[i].task%></li>
            <li>Containers: <%=allCustomers[i].contNeed%></li>
            <li>City: <%=allCustomers[i].city%></li>
            <li>Delivery Date: <%=allCustomers[i].date%></li>
            <li>Delivery Scheduled: <%=allCustomers[i].deliveryScheduled%></li>
          </ul>
        </li>
      <%}%>
    </ul>

  </body>
</html>
